<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>
            Home
        </title>
        <body>
        <p5> Nilcilene é preta e feia</p5>
        
        <br><br><br>

        <br>
        <img src="..\img\pqq.jpg" >

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                             
                            <label for="exampleInputEmail1">
                                Email address
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputPassword1">
                                Password
                            </label>
                            <input type="password" class="form-control" id="exampleInputPassword1" />
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputFile">
                                File input
                            </label>
                            <input type="file" class="form-control-file" id="exampleInputFile" />
                            <p class="help-block">
                                Example block-level help text here.
                            </p>
                        </div>
                        <div class="checkbox">
                             
                            <label>
                                <input type="checkbox" /> Check me out
                            </label>
                        </div> 
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

        </body>
            <div></div>
            <p></p>

        </bady>
    </head>
</html>